html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  background: lightgray;
}

#top-bar {
    height: 64px;
}

#title {
    font-size: 150%;
}

#map {
    height: -o-calc(100% - 64px); /* opera */
    height: -webkit-calc(100% - 64px); /* google, safari */
    height: -moz-calc(100% - 64px); /* firefox */
}

.marker {
  fill: #f03b20;
  stroke-width: 0.1px;
}

.rental_housing {
}

#type {
    background-color: #4C4CFF;
    color: white;
    padding: 12px 8px;
    font-family: sans-serif;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 1px 1px 2px darkgray;
    margin-left: 12px;
}

.tooltip {
  position: absolute;
  color: white;
  background: black;
  text-align: left;
  border-radius: 1px 3px 3px 3px;
  padding: 6px;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 1px 1px 2px black;
}

.xout {
  border-radius: 20px;
  background: transparent;
  color: black;
  text-shadow: 2px 2px 4px lightgray;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

.xout:hover {
  cursor: pointer;
}

.infobox {
  margin: auto;
  position: absolute;
  color: white;
  background: black;
  width: 220px;
  height: 60px;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 12px;
  font-family: sans-serif;
  box-shadow: 1px 1px 2px black;
}

::-webkit-input-placeholder {
   color: #d9d9d9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d9d9d9;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #d9d9d9;
}

:-ms-input-placeholder {
   color: #d9d9d9;
}

.search {
  display: inline-block;
  text-shadow: 1px 1px 2px lightgray;
  background-color: transparent;
  color: black;
  padding: 12px;
  font-size: 16px;
  font-family: sans-serif;
}

#search {
  font-size: 14px;
  height: 40px;
  width: 210px;
  padding: 6px;
  border: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px darkgray;
}

.btn {
  color: black;
}

.btn:hover {
  color: dodgerblue;
}
